<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

    <header>
        <div class="pull-right">
            
        </div>
        <div>
            <h1>UNC Django Workshop MyApp5</h1>
            <h2>Notes App (App5)</h2>
        </div>
    </header>

    <main>
        {% block content %}
        <h2>BASE TEMPLATE</h2>
        <p>No content is defined.</p>
        {% endblock %}
    </main>
    <footer>
        Taken from Mark Seaman's repository and edited only very slightly by Alex Brems.
    </footer>
    </footer>
</body>

</html>